<!--Footer-->
<footer class="pie-pag d-flex flex-column align-items-center justify-content-center"> 
    <p class="footer-texto text-center">Contactame:<br>@arfusoleandro8@gimal.com</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
     <a href="https://github.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
     </a>
     <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
     </a>
     <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram"></i>
     </a>
    </div>
    <div class="derechos-de-autor">Creado por José Leandro Arfuso (2023) &#169;</div>
  </footer>
