<!--Educacion-->
<section>
    <h2 class="titulo container text-center">Educación</h2>
    <div class="row">
      <div class="col md-4">
          <div class="card">
              <img src="/assets/image/FreeCodeCamp_logo.png" class="card-img-top" alt="img-logo freecode" width="50px" height="200px">
              <div class="card-body">
                <h5 class="card-title text-center">Curso</h5>
                <p class="card-text text-center">Bootstrap5</p>
            </div>
            </div>
           </div>    
          <div class="col md-4">
              <div class="card">
                  <img src="assets/image/ticmas.jpg" class="card-img-top" alt="img-logo ticmas" width="50px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Curso</h5>
                    <p class="card-text text-center">Desarrollo Frontend</p>
                  </div>
                </div>
              </div>               
          <div class="col md-4">
              <div class="card">
                  <img src="assets/image/teaYdep.jpg" class="card-img-top" alt="img-logo teaydeportea"  width="50px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Terciario</h5>
                    <p class="card-text text-center"> Periodismo Deportivo</p>
                  </div>               
              </div>
          </div> 
    </div>         
  <div class="row">
      <div class="col md-4">
          <div class="card">
              <img src="assets/image/googleactiv.jpg" class="card-img-top" alt="img-logo googleactivate"  width="50px" height="200px">
              <div class="card-body">
                <h5 class="card-title text-center">Curso</h5>
                <p class="card-text text-center">Introducción al Desarrollo Web</p>
            </div>
            </div>
          </div>    
          <div class="col md-4">
              <div class="card">
                  <img src="assets/image/openboot.jpg" class="card-img-top" alt="img-openBootcamp"  width="50px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Curso</h5>
                    <p class="card-text text-center">Primeros pasos en desarrollo web</p>
                  </div>
                </div>
                
          </div>               
        <div class="col md-4">
              <div class="card">
                  <img src="assets/image/FreeCodeCamp_logo.png" class="card-img-top" alt="img-freeCode" width="50px" height="200px">
                  <div class="card-body">
                    <h5 class="card-title text-center">Curso</h5>
                    <p class="card-text text-center">Javascript</p>
                  </div>
                </div>
                </div>               
  </div>
   </section>

