.modal-header {
    border-bottom: 2px solid rgb(10, 10, 199);
    font-size: 1.4rem;
    font-family: 'Rubik Dirt', cursive;
    color: rgb(98, 140, 230);
    background-color: rgb(167, 213, 231);
    
 }

 .modal-body {
    border-bottom: 2px solid rgb(10, 10, 199);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(10, 10, 199);
    background-color: rgb(167, 213, 231);
 }

.modal-footer {
    background-color: rgb(167, 213, 231);
}

 .ini-ses {
    background-color: rgb(10, 10, 199);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 