<section id="proyectos" class="d-flex flex-column">
    <h2 class="titulo container text-center">Proyectos</h2>
  <div class="container text-center">
  <div class="row">
    <!--Ahorcado-->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="proyecto">
        <img class="img-proyect text-center" src="assets/image/ahorcado.jpg" width="300px" height="200px" alt="imagen juego del ahorcado">
        <div class="overlay">
          <p>Ahorcado</p>
          <div class="iconos-contenedor">
            <a href="https://github.com/ArfusoL/Proyecto-Ahorcado.git" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
          </div>
      </div>        
    </div>
   </div>
    <!--Calculadora-->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="proyecto">
        <img class="img-proyect text-center" src="assets/image/img-calculadora.jpeg" width="300px" height="200px" alt="imagen calculadora">
        <div class="overlay">
          <p>Calculadora</p>
          <div class="iconos-contenedor">
            <a href="https://github.com/ArfusoL/Proyecto-calculadora.git" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
          </div>
      </div>        
    </div>
  </div>
      <!--Formulario-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img class="img-proyect text-center" src="assets/image/formulario-img.png" width="300px" height="200px" alt="imagen de formulario">
          <div class="overlay">
            <p>Formulario</p>
            <div class="iconos-contenedor">
              <a href="https://github.com/ArfusoL/Proyecto-Formulario.git" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
          </div>        
        </div>
      </div>
      <!--Carrito de compras-->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="proyecto">
        <img class="img-proyect text-center" src="assets/image/carrito-de-la-compra.jpg" width="300px" height="200px" alt="carrito de compras">
        <div class="overlay">
          <p>Carrito</p>
          <div class="iconos-contenedor">
            <a href="https://github.com/ArfusoL/Practica-Javascript.git" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
          </div>
      </div>        
    </div>
  </div>
    <!--Ahorcado-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img class="img-proyect text-center" src="assets/image/ahorcado.jpg" width="300px" height="200px" alt="imagen juego del ahorcado">
          <div class="overlay">
            <p>Ahorcado</p>
            <div class="iconos-contenedor">
              <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
            </div>
        </div>        
      </div>
   </div>
     <!--Ahorcado-->
    <div class="col-12 col-md-6 col-lg-4">
      <div class="proyecto">
        <img class="img-proyect text-center" src="assets/image/ahorcado.jpg" width="300px" height="200px" alt="imagen juego del ahorcado">
        <div class="overlay">
          <p>Ahorcado</p>
          <div class="iconos-contenedor">
            <a href="https://github.com" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
          </div>
        </div>        
      </div>
     </div>
    
