 <!--Acerca de-->
 <section id="acerca-de">
    <div class="datos-banner row">
      <div class="col-5"><img class="img-perfil  rounded-circle" src="assets/image/da19ce6f-334a-4265-bd4e-70170f2b7bd5.jpg" width="300px" height="200px" alt="imagen-perfil"></div>
      <div class="col-5"><p class="datos-per d-flex flex-column">José Leandro Arfuso<br>Full Stack Developer Jr</p></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-7 sobremi">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt iure perferendis ea non necessitatibus expedita sed harum delectus, officiis, perspiciatis, modi nam blanditiis? Fuga delectus quisquam corporis perferendis sequi deleniti inventore ratione laudantium quam animi sed voluptate ullam amet architecto ea ipsum reiciendis,
           officiis laboriosam voluptatibus assumenda. Ab voluptatem laboriosam sapiente laborum at dolorem.</p>
      </div>
    </div>
  </section>
