<div class="tab-pane fade" id="v-pills-exp" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
    <h4 class="titulo-edit">Experiencia</h4>
    <label for="exampleFormControlInput1" class="form-label">Area de trabajo</label>
    <input class="form-control form-control-sm" type="text" placeholder="" aria-label=".form-control-sm example">
    <div class="btn-edit mt-2">
    <i type="button" class="icon-edit bi bi-pencil-fill"></i>
    <i type="button" class="icon-edit bi bi-trash3"></i>
    </div>
    <label for="exampleFormControlInput1" class="form-label">Periodo</label>
    <input class="form-control form-control-sm" type="text" placeholder="" aria-label=".form-control-sm example">
    <div class="btn-edit mt-2">
    <i type="button" class="icon-edit bi bi-pencil-fill"></i>
    <i type="button" class="icon-edit bi bi-trash3"></i>
    </div>
    <label for="exampleFormControlInput1" class="form-label">Empresa</label>
    <input class="form-control form-control-sm" type="text" placeholder="" aria-label=".form-control-sm example">
    <div class="btn-edit mt-2">
      <i type="button" class="icon-edit bi bi-pencil-fill"></i>
      <i type="button" class="icon-edit bi bi-trash3"></i>
    </div>
  </div>
