
   <div class="col-3" id="side">
       <div class="sidebar d-flex align-items-start">
           <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
             <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-banner" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Banner</button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-acerca" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Acerca de</button>
              <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-exp" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Experiencia</button>
              <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-educacion" type="button" role="tab" aria-controls="v-pills-disabled" aria-selected="false">Educación</button>
              <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-habilidades" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Habilidades</button>
              <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-proyectos" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Proyectos</button>
           </div>
        </div>
      <app-imgdash></app-imgdash>
</div>

