<!--Experiencia-->
<section id="experiencia">
    <div class="text-center">
        <h2 class="titulo">Experiencia</h2>
      <div class="row">
        <div class="columna col-12 col-md-4">
          <i class="i-exp bi bi-boombox"></i>
          <p class="experiencia-titulo">Radio</p>
          <p class="exp-descripcion">2010-2014<br>FM 95.5 Rock and Pop</p>
          </div>
        <div class="columna col-12 col-md-4">
          <i class="i-exp bi bi-newspaper"></i>
          <p class="experiencia-titulo">Administración</p>
          <p class="exp-descripcion">2014-2018 - Inmobiliaria<br>2018-2022 - Correo Argentino</p>
        </div>
              <div class="columna col-12 col-md-4">
           <i class="i-exp bi bi-laptop"></i>
           <p class="experiencia-titulo">Desarrollo</p>
           <p class="exp-descripcion">2022-2023<br>Proyecto Portfolio web Argentina Programa</p>
          </div>
        </div>
        </div>
  </section>
